{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HRV SciHub</title>
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}">
    <script src="{% static 'assets/js/preloader.js' %}"></script>
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">

</head>
<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
    <div class="d-none loader-msg"></div>
</div>

<body>
    <div id="auth">

        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 mx-auto">
                    <div class="card pt-4">
                        <div class="card-body">
                            <div class="text-center mb-5">
                                <img src="{% static 'assets/images/logo.svg' %}" height="48" class='mb-4'>
                                <p>Please sign in to continue to HRV SciHub.</p>
                                {% if form.non_field_errors %}
                                <div class="alert alert-danger error-msg" role="alert">
                                    {% for error in form.non_field_errors %}
                                    <p>{{ error }}</p>
                                    {% endfor %}
                                </div>
                                {% endif %}
                            </div>
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-group position-relative has-icon-left">
                                    <label for="{{ form.username.id_for_label }}">Username</label>
                                    <div class="position-relative">
                                        {{ form.username|as_crispy_field }}
                                        <div class="form-control-icon">
                                            <i data-feather="user"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group position-relative has-icon-left">
                                    <div class="clearfix">
                                        <label for="{{ form.password.id_for_label }}">Password</label>
                                        <a href="{% url 'password_reset' %}" class='float-right'>
                                            <small>Forgot password?</small>
                                        </a>
                                    </div>
                                    <div class="position-relative">
                                        {{ form.password|as_crispy_field }}
                                        <div class="form-control-icon">
                                            <i data-feather="lock"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class='form-check clearfix my-4'>
                                    <div class="checkbox float-left">
                                        <a href="{% url 'signup' %}">Don't have an account?</a>
                                    </div>
                                </div>
                                <div class="clearfix">
                                    <button class="btn btn-primary float-right">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="{% static 'assets/js/feather-icons/feather.min.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>
</body>


</html>